<configuration>
    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
                <message>message</message>
                <context>context</context>
                <exception>exception</exception>
            </fieldNames>
            <customFields>{"app_name":"mentorhub-backend"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

    <logger name="SECURITY_AUDIT" level="INFO" additivity="false">
        <appender-ref ref="JSON_STDOUT"/>
    </logger>
</configuration>

